body{
    background-color: #F2F4F4;
}

h1 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 28px;
letter-spacing: 2px;
word-spacing: 2px;
color: #20B2AA;
font-weight: normal;
}

h2 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 24px;
letter-spacing: 2px;
word-spacing: 2px;
color: #20B2AA;
font-weight: normal;
}

.box{
	padding: 5px;
	background: white;
	margin-top:50px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	align-content: center;
	height: 500px;
	float: left;
}

.navbar {
	margin-right: 0px;
	margin-left: 0px;
	padding: 10px;
	background: White;
}

.navbar a {
  float: left;
  font-size: 18px;
  font color: #20B2AA;
  text-align: center;
  padding: 14px 16px;
}

.navbar-default .navbar-brand {
	color: #20B2AA
}

@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
  .box {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}